{% extends 'base.html.twig' %}

{% block body %}
    <h1>Progress creation</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.tags) }}
            {{ form_widget(form.tags, {'attr': {'class': 'form-control'}} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.date) }}
            {{ form_widget(form.date, {'attr': {'class': 'form-control'}} ) }}
        </div>
        <a href="{{ path('progress_index') }}" class="btn btn-dark" role="button">Back</a>
        <input type="submit" value="Create" class="btn btn-success" />
    {{ form_end(form) }}
{% endblock %}
